<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/social') %>

      <%- include ('../partials/header') %>

        <div class="main">
          <br />
          <br />
          <div class="container">
            <div class="row">
              <div class="col">
                <h1 class="text-center">¿Quiénes Somos?</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <p>
                  Rúnir, el nombre de nuestra familia, significa “runas” en islandés.
                  Nuestro concepto de marca busca rescatar la sabiduría de los ancestrales símbolos rúnicos, las
                  maravillas
                  de
                  la naturaleza nórdica en sus distintas fases y lo acogedor de las tradicionales cabañas islandesas.

                </p>
              </div>
              <div class="col-sm-12 col-md-6">
                <img src="/img/logo_sepia-min.png" class="img-fluid" style="max-height: 300px;" />
              </div>
            </div>
          </div>
          <div class="parallax rock"></div>
          <div class="container">
            <div class="row">
              <div class="col">
                <br />
                <br />
                <h1 class="text-center">¿Qué es hidromiel?</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>
                  La hidromiel es una bebida nórdica ancestral, precursora al vino y la cerveza, considerada el fermento
                  más
                  antiguo de la humanidad.
                </p>
              </div>
            </div>
          </div>
          <div class="parallax woods"></div>
          <div class="container">
            <div class="row">
              <div class="col">
                <br />
                <br />
                <h1 class="text-center">Familia Rúnir</h1>
              </div>
            </div>
            <div>
              <p>Nuestra presentación principal es en botellas de vidrio de 750ml cerradas con corcho y sello lacrado.
                Cada
                botella se encuentra acompañada de su respectiva runa de madera pirograbada a mano.</p>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col">
                <br />
                <br />
                <h1 class="text-center">Familia Rúnir</h1>
              </div>
            </div>
            <div>
              <p>Nuestra presentación principal es en botellas de vidrio de 750ml cerradas con corcho y sello lacrado.
                Cada
                botella se encuentra acompañada de su respectiva runa de madera pirograbada a mano.</p>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="accordion">
                  <ul>
                    <li tabindex="1">
                      <div>
                        <div>
                          <h2>ŌTHALAN</h2>
                          <p>Base de miel mantequilla con un sabor refrescante <br /> y afrutado (6.5% de alcohol).</p>
                          <!--<a class="btn btn-outline-secondary" href="ŌTHALAN.html"
                        >Conoce más</a
                      >-->
                        </div>
                      </div>
                    </li>
                    <li tabindex="2">
                      <div>
                        <div>
                          <h2>FEINGUR</h2>
                          <p>Base de miel pura con un sabor dulce <br /> y ligeramente cítrico (9.5% de alcohol).</p>
                          <!--<a class="btn btn-outline-secondary" href="feingur.html"
                        >Conoce más</a
                      >-->
                        </div>
                      </div>
                    </li>
                    <li tabindex="3">
                      <div>
                        <div>
                          <h2>HÆGL</h2>
                          <p>Base de miel semi-tostada con un sabor seco <br /> y caramelizado (12% de alcohol).</p>
                          <!--<a class="btn btn-outline-secondary" href="haegl.html"
                        >Conoce más</a
                      >-->
                        </div>
                      </div>
                    </li>
                    <li tabindex="4">
                      <div>
                        <div>
                          <h2>DRAUMSTAFIR</h2>
                          <p>Base de miel pura con un sabor dulce <br /> y ligeramente cítrico (8% de alcohol).</p>
                          <!--<a class="btn btn-outline-secondary" href="feingur.html"
                        >Conoce más</a
                      >-->
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include ('../partials/footer') %>

  </body>

</html>