<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <%- include ('../partials/social') %>

      <%- include ('../partials/header') %>

        <main class="container">

          <!-- Left Column / Headphones Image -->
          <div class="left-column">
            <img src="/img/feingur.jpg" alt="Feingur">
          </div>


          <!-- Right Column -->
          <div class="right-column">

            <!-- Product Description -->
            <div class="product-description">
              <span>Hidromiel Artesanal</span>
              <h1>Feingur</h1>
              <p>El sabor pleno a miel, espeso y con notas de polen de Feingur es conseguido con una levadura de Voss,
                Noruega,
                cuya cepa es preservada con métodos tradicionales de las granjas noruegas.

                Feingur simbolizaba la fertilidad: la alegría del florecimiento, la vida de abundancia y la primavera
                resplandeciente.</p>
            </div>

            <!-- Product Pricing -->
            <div class="product-price">
              <span>$260.00 MXN</span>
              <a href="#" class="cart-btn">Agregar al carrito</a>
            </div>
          </div>
        </main>

        <%- include ('../partials/footer') %>

  </body>

</html>