<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="stylesheet" href="/fonts/fontawesome-all.min.css" />
  <link rel="stylesheet" href="/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="/fonts/ionicons.min.css" />
  <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css" />
  <title>Rúnir</title>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img width="100px" src="/img/logo_sepia-min.png" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="ŌTHALAN.html">OTHALAN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="FEINGUR.html">FEINGUR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="HÆGL.html">HÆGL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://instagram.com/runir_mead?igshid=e34t3mv99lv7">CONTACTO</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="login">
      <div><input type="text" class="text-input" placeholder="Correo electrónico o usuario"></div>
      <div><input type="password" class="text-input" placeholder="Contraseña"></div>
      <div><button type="button" value="Iniciar sesión" class="ingresar">Iniciar sesión</button></div>
  </main>

  <footer class="mt-auto">
    <div class="container h-100">
      <div class="row align-items-center h-100">
        <div class="col-sm-12 col-md-4 text-left">
          <span>TODOS NUESTROS PRODUCTOS SON PARA MAYORES DE EDAD. EVITA EL EXCESO.</span>
        </div>
        <div class="col-sm-12 col-md-4 text-center">
          <a href="https://fb.me/runirmx"> <i class="fab fa-facebook"></i> </a>
          <a href="https://www.instagram.com/runir_mead/"> <i class="fab fa-instagram"></i> </a>
          <!--<a href="#"> <i class="fab fa-whatsapp"></i> </a>-->
        </div>
        <div class="col-sm-12 col-md-4 text-right">
          <a href="#">Aviso de privacidad</a>
        </div>
      </div>
    </div>
  </footer>
</html>