<!DOCTYPE html>
<html lang="en">

<%- include 'partials/head' %>

  <body class="d-flex flex-column min-vh-100">
    <%- include 'partials/social' %>

      <%- include 'partials/header' %>

        <div class="offers">
          <div class="row">
            <div class="col-sm-12">
              <div class="accordion">
                <ul>
                  <li tabindex="1">
                    <div>
                      <div>
                        <h2>MIDSOMMAR</h2>
                        <p>Compra tu boleto para <br /> nuestro próximo evento.</p>
                        <!--<a class="btn btn-outline-secondary" href="ŌTHALAN.html"
                      >Conoce más</a
                    >-->
                      </div>
                    </div>
                  </li>
                  <li tabindex="2">
                    <div>
                      <div>
                        <h2>OFERTAS</h2>
                        <p>Envío GRATIS en la compra <br /> de 4 botellas de 750ml</p>
                        <!--<a class="btn btn-outline-secondary" href="feingur.html"
                      >Conoce más</a
                    >-->
                      </div>
                    </div>
                  </li>
                  <li tabindex="3">
                    <div>
                      <div>
                        <h2>GRASKER</h2>
                        <p>Edición especial de Samhain <br /> con calabaza de castilla (13% de alcohol).</p>
                        <!--<a class="btn btn-outline-secondary" href="haegl.html"
                      >Conoce más</a
                    >-->
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <main>
          <div class="items">
            <a class="product" href="./product">
              <article>
                <div>
                  <img src="/img/feingur.jpg" width="100%" alt="Feingur">
                </div>
                <div class="details">
                  <p class="precio">
                    $260.00 MXN
                  </p>
                </div>
                <p class="descripcion">
                  FEINGUR
                </p>
              </article>
            </a>

            <a class="product" href="./product">
              <article>
                <div>
                  <img src="/img/othalan.jpg" width="100%" alt="Othalan">
                </div>
                <div class="details">
                  <p class="precio">
                    $260.00 MXN
                  </p>
                </div>
                <p class="descripcion">
                  ŌÞALAN
                </p>
              </article>
            </a>

            <a class="product" href="./product">
              <article>
                <div>
                  <img src="/img/haegl.jpg" width="100%" alt="Hægl">
                </div>
                <div class="details">
                  <p class="precio">
                    $260.00 MXN
                  </p>
                </div>
                <p class="descripcion">
                  HÆGL
                </p>
              </article>
            </a>

            <a class="product" href="./product">
              <article>
                <div>
                  <img src="/img/draum.jpg" width="100%" alt="Draumstafir">
                </div>
                <div class="details">
                  <p class="precio">
                    $260.00
                  </p>
                </div>
                <p class="descripcion">
                  Draumstafir
                </p>
              </article>
            </a>
          </div>
        </main>

        <%- include 'partials/footer' %>

  </body>

</html>