<footer>
  <div class="ageWarning">
    <p>TODOS NUESTROS PRODUCTOS SON PARA MAYORES DE EDAD</p>
    <p>EVITA EL EXCESO</p>
  </div>
  <div class="contact">
    <a href="https://fb.me/runirmx"> <i class="fab fa-facebook"></i> </a>
    <a href="https://www.instagram.com/runir_mead/"> <i class="fab fa-instagram"></i> </a>
    <a href="#"> <i class="fab fa-whatsapp"></i> </a>
  </div>
  <div class="privacy">
    <p><a href="#">Aviso de privacidad</a> | <a href="#">Aviso de privacidad</a></p>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
  if (!("ontouchstart" in document.documentElement)) {
    document.documentElement.className += " no-touch";
  }
</script>