<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="./">
        <img width="100vw" src="/img/logoCabin.png" />
        <img width="100vw" src="/img/runirName.png" alt="Rúnir">
      </a>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Busca en Rúnir.com" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      </form>
      <a class="shoppingCart" href="./cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./">INICIO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login">INGRESAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./register">REGÍSTRATE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./about">CONÓCENOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./create-edit">ADMINISTRADOR</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>