<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-md" data-mdb-toggle="modal" data-mdb-target="#editProduct">
  Editar Producto
</button>

<!-- Modal -->
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editProductLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProductLabel">Editar Producto</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/products/edit/STILL WORKING?_method=PATCH" method="POST">
          <div class="row product-detail">
            <div class="col-12 col-md-6">
              <label for="name" class="form-label">Nombre del producto:</label>
              <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
            </div>
            <div class="col-12 col-md-6">
              <label for="price" class="form-label">Precio del producto:</label>
              <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
            </div>
            <div class="col-12 col-md-6">
              <label for="discount" class="form-label">Imagen:</label>
              <input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
            </div>
            <div class="col-12 col-md-6">
              <label for="category" class="form-label">Categoría:</label>
              <select name="category" id="category" class="form-input">
                <option value="">Selecciona Categoría</option>
                <option value="mead">Botellas</option>
                <option value="accessories">Accesorios</option>
                <option value="events">Eventos</option>
              </select>
            </div>
            <div class="col-12">
              <label for="description" class="form-label">Descipción:</label>
              <textarea name="description" id="description" class="form-input">STILL WORKING ON THIS SECTION</textarea>
            </div>
            <div class="col-12">
              <button type="submit" class="buy-now-button">Guardar producto</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>