<!-- Button trigger modal -->
<button type="button" class="btn btn-danger btn-md" data-mdb-toggle="modal" data-mdb-target="#deleteProduct">
  Eliminar Producto
</button>

<!-- Modal -->
<div class="modal fade" id="deleteProduct" tabindex="-1" aria-labelledby="deleteProductLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductLabel">Eliminar Producto</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">¿Está seguro de eliminar este producto?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-danger">ELIMINAR</button>
      </div>
    </div>
  </div>
</div>