// Color Palette for Rúnir Marketplace

$blackText: #040F16
$woodBackground: #d4b483
$lightBackground: #e4dfda
$grayBorders: #a99f9e
$productNamesColor: #040F16
$buttonTextColor: #ffffff
$submitButtonsColor: #00A5CF
$hoverSubmitButtonColor: #018eb1
$deleteProductButtonColor: #d30707
$hoverDeleteProductButtonColor: #b60a0a
$priceColor: #040f16
$highlightTextColor: #00a5cf
$titlesColor: #706563
$footerBgColor: #030c11
$woodBackground: #d4b483
$lightBackground: #e4dfda
$bgImage: linear-gradient(rgba(255, 231, 195, 0.8),rgba(255, 231, 195, 0.8),rgba(255, 231, 195, 0.8)), url("../img/madera.png")

*
  padding: 0px
  margin: 0px
  box-sizing: border-box
