@import ./_colors

footer
  position: absolute
  bottom: 0
  height: 150px
  width: 100%
  background-color: rgba(181, 113, 74, 0.8)
  color: #ffe7c3
  span
    font-size: 1.1em
  a
    color: #fff6e9
    text-decoration: none
    i
      font-size: 2em
      margin-left: 1em
  a:hover
    color: #ffe7c3
