@import ./_colors
@import ./_fonts

@media (min-width: 361px)
  nav
    display: flex !important
    justify-content: space-evenly
    flex-wrap: nowrap
    padding-bottom: 10px
    ul
      padding: 0px
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-evenly
      li
        padding: 5px
        list-style-type: none
        a
          color: $titlesColor
          text-decoration: none
  .burger-menu
    display: none
  .main
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
  .product
    width: 40%
  .main-header-top-bar
    flex-direction: column
  .mobile-nav
    display: none !important

@media (min-width: 600px)
  nav
    display: flex !important
    justify-content: space-evenly
    flex-wrap: nowrap
    padding-bottom: 10px
    ul
      padding: 0px
      display: flex
      flex-direction: column
      flex-wrap: wrap
      justify-content: space-evenly
      li
        padding: 5px
        list-style-type: none
        a
          color: $titlesColor
          text-decoration: none
  .burger-menu
    display: none
  .main
    display: flex
    flex-wrap: wrap
    flex-direction: row
    justify-content: space-between
  .product
    width: 40%
  .main-header-top-bar
    flex-direction: column

@media (min-width: 768px)
  nav
    flex-direction: row
    ul
      flex-direction: row
  .product
    width: 20%
  .search-container
    width: 33% !important
  .logo
    width: 33% !important
  .copy-header
    width: 33% !important
  .extras
    width: 33vw !important

.bg-light
  background-color: rgba(255, 231, 195, 0) !important

.navbar-light .navbar-nav .nav-link.active
  color: $blackText !important

.navbar-light .navbar-nav .nav-link
  color: $titlesColor !important
  font-family: "Norse"
  font-size: 1.5em

header
  display: flex
  box-sizing: border-box
  width: 100vw
  justify-content: space-evenly

.mobile-nav
  display: flex
  box-sizing: border-box
  justify-content: space-evenly
  position: fixed
  bottom: 0px

.fa.fa-shopping-cart
