@font-face {
  font-family: "Norse";
  src: url("../fonts/Norse.otf") format("opentype");
}

@font-face {
  font-family: "Kelvinch";
  src: url("../fonts/Kelvinch-Roman.otf") format("opentype");
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Norse";
  src: url("../fonts/Norse.otf") format("opentype");
}

@font-face {
  font-family: "Kelvinch";
  src: url("../fonts/Kelvinch-Roman.otf") format("opentype");
}

@media (min-width: 361px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 600px) {
  nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 10px;
  }
  nav ul {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav ul li {
    padding: 5px;
    list-style-type: none;
  }
  nav ul li a {
    color: #706563;
    text-decoration: none;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggler {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .shoppingCart {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mobile-nav {
    display: none !important;
  }
}

.bg-light {
  background-color: rgba(255, 231, 195, 0) !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #040F16 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #706563 !important;
  font-family: "Norse";
  font-size: 1.5em;
  justify-items: flex-end;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .container-fluid {
  width: 90vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  height: 100px;
}

.navbar-toggler {
  display: none;
}

nav .container-fluid a {
  text-decoration: none;
}

.shoppingCart {
  display: none;
}

.fa.fa-shopping-cart {
  width: 100%;
  color: #706563;
}

.fa.fa-shopping-cart:hover {
  color: #a99f9e;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 361px) {
  footer {
    padding-bottom: 10px !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  background-color: #030c11;
  color: #e4dfda;
  padding-top: 10px;
  padding-bottom: 50px;
}

footer p {
  font-size: 1.1em;
  text-align: center;
}

footer a {
  color: #e4dfda;
  text-decoration: none;
}

footer a i {
  font-size: 2em;
  margin: 5px;
}

footer a:hover {
  color: #d4b483;
}

.fab.fa-facebook {
  padding: none;
}

.fab.fa-instagram {
  padding: none;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 231, 195, 0.8)), color-stop(rgba(255, 231, 195, 0.8)), to(rgba(255, 231, 195, 0.8))), url("../img/madera.png");
  background-image: linear-gradient(rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8)), url("../img/madera.png");
  color: #b5714a;
  font-family: "Kelvinch";
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Norse";
}

.woods-bg {
  background-image: url("../img/woods.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}

.section-content .section-cart {
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-content .section-cart .h-title {
  margin: 0;
}

.section-content .section-cart .div-cart {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 231, 195, 0.8)), color-stop(rgba(255, 231, 195, 0.8)), to(rgba(255, 231, 195, 0.8))), url("../img/madera.png");
  background-image: linear-gradient(rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8)), url("../img/madera.png");
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 15px;
}

.section-content .section-cart .div-cart .div-cart-son {
  background-color: #fce6d2;
  border-radius: 5px;
  width: 95%;
  text-align: left;
  padding: 5px;
  border: solid 2px #d4a681;
  -webkit-box-shadow: 0px 0px 10px #a99f9e;
          box-shadow: 0px 0px 10px #a99f9e;
}

.section-content .section-cart .div-cart .div-cart-son .div-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-content .section-cart .div-cart .div-cart-son .div-product .div-img {
  width: 40%;
}

.section-content .section-cart .div-cart .div-cart-son .div-product .div-img .pd-product {
  font-weight: bold;
  color: #8b4d29;
}

.section-content .section-cart .div-cart .div-cart-son .div-product .div-details {
  width: 50%;
}

.section-content .section-cart .div-cart .div-cart-son .div-product .div-details .pd-price {
  color: #188d7a;
  font-size: 30px;
}

.section-content .section-cart .div-cart .div-cart-son .div-product .btn-delete {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.section-content .section-cart .div-cart .div-cart-son .div-product .btn-delete:hover {
  color: #d30707;
  text-decoration: underline;
}

.section-content .section-cart .div-cart .div-cart-son .products-img {
  width: 50%;
  border-radius: 5px;
}

.section-content .section-cart .div-cart .div-cart-son:hover {
  -webkit-box-shadow: 0px 0px 10px #c58133;
          box-shadow: 0px 0px 10px #c58133;
  border: solid 2px #c58133;
}

.section-content .section-total {
  width: 30%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-content .section-total .h-title {
  margin: 0;
}

.section-content .section-total .div-total {
  height: 60%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 231, 195, 0.8)), color-stop(rgba(255, 231, 195, 0.8)), to(rgba(255, 231, 195, 0.8))), url("../img/madera.png");
  background-image: linear-gradient(rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8)), url("../img/madera.png");
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 15px;
}

.section-content .section-total .div-total .total-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-content .section-total .div-total .div-total-son {
  background-color: #fce6d2;
  border-radius: 5px;
  width: 90%;
  text-align: left;
  padding: 5px;
  -webkit-box-shadow: 0px 0px 20px #c58133;
          box-shadow: 0px 0px 20px #c58133;
  border: solid 2px #c58133;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-content .section-total .div-total .div-total-son .dp-total {
  width: 100%;
}

.section-content .section-total .div-total .btn-total {
  height: 30px;
  margin-top: 20px;
  color: white;
  background-color: #4da395;
}

.section-content .section-total .div-total .btn-total:hover {
  background-color: #c58133;
  -webkit-box-shadow: 0px 0px 10px #ffb45e;
          box-shadow: 0px 0px 10px #ffb45e;
}
/*# sourceMappingURL=cart.css.map */