@font-face {
  font-family: "Norse";
  src: url("../fonts/Norse.otf") format("opentype");
}

@font-face {
  font-family: "Kelvinch";
  src: url("../fonts/Kelvinch-Roman.otf") format("opentype");
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Norse";
  src: url("../fonts/Norse.otf") format("opentype");
}

@font-face {
  font-family: "Kelvinch";
  src: url("../fonts/Kelvinch-Roman.otf") format("opentype");
}

@media (min-width: 361px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 600px) {
  nav {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding-bottom: 10px;
  }
  nav ul {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  nav ul li {
    padding: 5px;
    list-style-type: none;
  }
  nav ul li a {
    color: #706563;
    text-decoration: none;
  }
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  nav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-toggler {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .shoppingCart {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mobile-nav {
    display: none !important;
  }
}

.bg-light {
  background-color: rgba(255, 231, 195, 0) !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #040F16 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #706563 !important;
  font-family: "Norse";
  font-size: 1.5em;
  justify-items: flex-end;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header .container-fluid {
  width: 90vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.mobile-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: fixed;
  bottom: 0px;
  height: 100px;
}

.navbar-toggler {
  display: none;
}

nav .container-fluid a {
  text-decoration: none;
}

.shoppingCart {
  display: none;
}

.fa.fa-shopping-cart {
  font-size: 35px;
  width: 100%;
  color: #706563;
}

.fa.fa-shopping-cart:hover {
  color: #a99f9e;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 361px) {
  footer {
    padding-bottom: 10px !important;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  background-color: #030c11;
  color: #e4dfda;
  padding-top: 10px;
  padding-bottom: 50px;
}

footer p {
  font-size: 1.1em;
  text-align: center;
}

footer a {
  color: #e4dfda;
  text-decoration: none;
}

footer a i {
  font-size: 2em;
  margin: 5px;
}

footer a:hover {
  color: #d4b483;
}

.fab.fa-facebook {
  padding: none;
}

.fab.fa-instagram {
  padding: none;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 231, 195, 0.8)), color-stop(rgba(255, 231, 195, 0.8)), to(rgba(255, 231, 195, 0.8))), url("../img/madera.png");
  background-image: linear-gradient(rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8)), url("../img/madera.png");
  color: #b5714a;
  font-family: "Kelvinch";
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Norse";
}

.rock-bg {
  background-image: url("../img/rock.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.section-form {
  float: right;
  padding-right: 15px;
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-form .h-title {
  margin: 0;
}

.section-form .div-form {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 231, 195, 0.8)), color-stop(rgba(255, 231, 195, 0.8)), to(rgba(255, 231, 195, 0.8))), url("../img/madera.png");
  background-image: linear-gradient(rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8), rgba(255, 231, 195, 0.8)), url("../img/madera.png");
  margin-top: 28px;
  margin-bottom: 28px;
  height: 80%;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 15px;
}

.section-form .div-form .div-form-son {
  height: 65%;
  background-color: #fce6d2;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  border: solid 2px #d4a681;
  -webkit-box-shadow: 0px 0px 10px #a99f9e;
          box-shadow: 0px 0px 10px #a99f9e;
  margin-left: 9px;
}

.section-form .div-form .class-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-form .div-form .class-form .label-input {
  width: 100%;
  text-align: center;
  font-size: 25px;
  color: #b47048;
  font-family: "Norse";
}

.section-form .div-form .class-form .label-input:hover {
  color: #4da395;
}

.section-form .div-form .class-form .class-input {
  width: 100%;
}

.section-form .div-form .btn-form {
  position: relative;
  left: 10%;
  width: 80%;
  float: center;
  height: 30px;
  margin-top: 20px;
  color: white;
  background-color: #4da395;
}

.section-form .div-form .btn-form:hover {
  background-color: #c58133;
  -webkit-box-shadow: 0px 0px 10px #ffb45e;
          box-shadow: 0px 0px 10px #ffb45e;
}

@media (max-width: 768px) {
  .section-form {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .div-form-son {
    margin: 5%;
    padding: 10px 20px;
    width: 70%;
  }
  .section-form {
    width: 100%;
    padding: 10%;
  }
  .section-form .div-form {
    text-align: center;
  }
  .section-form .div-form .div-form-son {
    width: 80%;
    padding: 5%;
    margin: 5%;
  }
}

@media (max-width: 320px) {
  .section-form {
    width: 100%;
  }
}
/*# sourceMappingURL=register.css.map */