<!DOCTYPE html>
<html lang="en">

<%- include ('../partials/head') %>

  <body class="d-flex flex-column min-vh-100">
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function () {
        FB.init({
          xfbml: true,
          version: 'v9.0'
        });
      };

      (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat" attribution=setup_tool page_id="101757705041113"
      logged_in_greeting="Hola!! Escríbenos para solicitar más información!"
      logged_out_greeting="Hola!! Escríbenos para solicitar más información!">
    </div>

    <%- include ('../partials/header') %>

    <div class="rock-bg">
      <section class="section-form">
        <div class="div-form">
          <h1 class="h-title">Registro</h1>
          <div class="div-form-son">
            <form class="class-form" method="POST" action="/">
              <label for="form-input1" class="label-input"><i class="fas fa-user"></i> Usuario</label>
              <input type="input" id="form-input1" class="class-input" placeholder="Usuario...">
              <label for="form-input2" class="label-input"><i class="fas fa-at"></i> E-mail</label>
              <input type="email" id="form-input2" class="class-input" placeholder="E-mail...">
              <label for="form-input3" class="label-input"><i class="fas fa-key"></i> Contraseña</label>
              <input type="password" id="form-input3" class="class-input" placeholder="Contraseña...">
              <label for="form-input4" class="label-input"><i class="fas fa-key"></i> Confirme contraseña</label>
              <input type="password" id="form-input4" class="class-input" placeholder="Contraseña...">
              <label for="form-input5" class="label-input"><i class="fas fa-calendar-week"></i> Fecha de
                nacimiento</label>
              <input type="date" id="form-input5" class="class-input">
              <label for="form-input6" class="label-input">¿Eres mayor de 18 años?</label>
              <input type="checkbox" id="form-input6" class="class-input">
              <button class="btn-form" input="submit"><i class="fas fa-check-circle"></i> Confirmar</button>
            </form>
          </div>
        </div>
      </section>
    </div><br />
    <%- include ('../partials/footer') %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"
      integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD"
      crossorigin="anonymous"></script>
    <script>
      if (!("ontouchstart" in document.documentElement)) {
        document.documentElement.className += " no-touch";
      }
    </script>

  </body>

</html>